---
layout: archive
title: "발표"
permalink: /talks/
lang: ko
translation_key: talks
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">발표한 지역을 지도에서 확인해 보세요.</a></p>

{% endif %}

{% assign current_lang = page.lang | default: site.locale | slice: 0,2 %}
{% assign lang_talks = site.talks | where: "lang", current_lang %}
{% if lang_talks.size == 0 %}
  {% assign lang_talks = site.talks %}
{% endif %}

<div class="grid__wrapper">
{% for post in lang_talks reversed %}
  {% include archive-single-talk.html type="grid" %}
{% endfor %}
</div>
